.main {
background-color: rgb(230, 173, 173);
padding: 40px;
display: flex;
font-size: 20px;
font-family: "aptly", sans-serif;
font-weight: 400;
font-style: normal;
}
.title{
      background-color:  rgb(174, 25, 25);;
border-width: 4px;
border-style: solid;
border-color: hsl(0, 0%, 0%);
padding: 30px;
margin: 20px;
color:aliceblue;
font-family: "mascot-mvb", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 50px;
}
html{
    background-color: hsl(0, 83%, 19%);
    padding-bottom: 200px;
}
.tab-nav{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}
.tab-link{
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    display : block;
    text-align: center;
    margin: 0 4px;
    padding: 5px 15px;

}
.current-page{ background-color: rgb(174, 25, 25);}
.active{flex-grow:1 ;} 
.footer{ background-color: black;
color:white;
position:fixed;
bottom:0;
left:0;
right:0;
padding:30px;
}
.footer-links{ list-style-type: none;  
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;}

.footer-link{ color: white;
}
.right-column{
    flex: 30%;
    padding: 20px;
}
.image{height: auto;
width: 600px;}